<div class="bg-black text-gray-100 font-sans container mx-auto">
  <div class="flex justify-between items-center py-4 px-4">
    <div class="flex items-center">
      <a
        href="/"
        class="text-xl font-bold hover:no-underline transition-all ease-in duration-300 hover:scale-105"
        >0xRasla</a
      >
    </div>
    <div class="flex items-center gap-6">
      <a href="/" class="text-lg font-medium relative group">
        blog
        <span
          class="absolute bottom-0 left-0 w-0 h-0.5 bg-gray-100 transition-all duration-300 group-hover:w-full"
        ></span>
      </a>
      <a href="/" class="text-lg font-medium relative group">
        projects
        <span
          class="absolute bottom-0 left-0 w-0 h-0.5 bg-gray-100 transition-all duration-300 group-hover:w-full"
        ></span>
      </a>
      <a href="/" class="text-lg font-medium relative group">
        about
        <span
          class="absolute bottom-0 left-0 w-0 h-0.5 bg-gray-100 transition-all duration-300 group-hover:w-full"
        ></span>
      </a>
    </div>
  </div>
</div>
