---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="The story of a passionate coder, game dev, and Linux lover."
  pubDate={new Date("October 08 2024")}
>
  <p>
    Hey there! I’m Thinesh Rasla, a developer from India with a passion for
    building cool things. My journey into coding started with curiosity and
    quickly turned into an obsession. From crafting web apps using JavaScript to
    embracing the blazing-fast Bun.js runtime, I’ve been on a constant quest to
    write better, more efficient code.
  </p>

  <p>
    In the early days, I was heavily into game development. I spent countless
    hours coding in C# with Unity, bringing virtual worlds to life and turning
    ideas into interactive experiences. Game dev gave me a solid understanding
    of low-level code, but eventually, I shifted my focus toward web and mobile
    app development. Still, that part of my journey taught me the importance of
    performance, which I carry into everything I build today.
  </p>

  <p>
    As a developer, I’m always exploring new tech, whether it's diving into the
    low-level aspects of coding or tinkering with the latest JavaScript
    frameworks. I love the flexibility of web development, and after
    transitioning to Bun.js, I’ve found myself more excited than ever to push
    the boundaries of what’s possible.
  </p>

  <p>
    Outside of coding, I'm also a Linux enthusiast (Arch user, btw 😎), always
    looking for ways to customize and optimize my workflow. Linux keeps me
    grounded and offers the freedom to control my environment, which is
    something I’ve come to value a lot in both my personal and professional
    life.
  </p>

  <p>
    Through this blog, I’ll be sharing my adventures in coding, tips from my
    experiences, and maybe even a bit of nostalgia from my game development
    days. Whether you’re a fellow coder or someone curious about the world of
    tech, I hope you find something here that inspires you!
  </p>
</Layout>
